%div{ class: "control-group #{'error' if @question.errors.any?}"}
  %label{ for: 'question[question]', class: 'control-label' }
    Frequent Question:
  .controls
    - question = { id: 'question[question]', name: 'question[question]', size: '30', type: 'text', placeholder: 'Enter your question', class: 'input-xxlarge' }
    - question.merge!({ value: @question.question }) if @question.question
    %input{ question }
    - if @question.errors.has_key? :question
      %span.help-inline= @question.errors.on(:question).map! { |m| "question " + m }.join(", ")

%div{ class: "control-group #{'error' if @question.errors.any?}"}
  %label{ for: 'question[answer]', class: 'control-label' }
    Answered by:
  .controls
    - answer = { id: 'question[answer]', name: 'question[answer]', placeholder: 'The answer is...', rows: '10', class: 'input-xxlarge' }
    %textarea{ answer }
      = @question.answer if @question.answer
    - if @question.errors.has_key? :question
      %span.help-inline= @question.errors.on(:answer).map! { |m| "answer " + m }.join(", ")

