%h1= t(:faq)

- if @questions.empty?
  %h2= t(:no_questions)

  %a{href: '/questions/new'}= t(:'questions.ask')

- @questions.each do |q|
  .row
    .span6
      %h3
        %a{ href: "/questions/#{q.permalink}"}= q.question
      %p= q.answer
    .span1.small
      %a{ href: "/questions/#{q.permalink}/edit"}= t(:edit)
      %form{ action: "/questions/#{q.permalink}", method: 'post'}
        %input{ type: 'hidden', name: '_method', value: 'delete'}
        %input{ type: 'submit', value: t(:delete) }
